/* Defaults */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}


h1 {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1::after {
    content: "";
    display: block;
    width: 12%;
    height: 4px;
    background-color: #c99c62;
    margin: 8px auto 0;
    border-radius: 2px;
}


table {
    width: 100%;
    /* border: solid red; */
    /* border-collapse: collapse; */
}

th, td {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
cursor: pointer;
    background-color: #c99c62;
}
.center {
    text-align: center;
}

#addBookContainer {
    padding: 100px;
}