.book-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-poster {
  position: relative;
  aspect-ratio: 2/3;
  width: 100%;
}

.book-poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.book-card:hover .book-overlay {
  opacity: 1;
}

.book-details {
  display: flex;
  flex-direction: row; /* Makes book-info and book-notes side by side */
  justify-content: space-between; /* Optional: spreads them out */
  width: 100%; /* Ensures the container takes full width */
  background-color: #999;
  align-items: center;
  flex-grow: 1;
}

.book-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.book-notes {
  flex: 0 0 auto; /* Each takes equal space; adjust as needed */
  padding-right: 35px;
}

.book-info h3 {
  font-size: 1rem;
  margin: 0;
}

.book-info p {
  color: #ffffff;
  font-size: 0.9rem;
}

.favorite-btn {
  position: absolute;
  top: .8rem;
  right: .8rem;
  color: white;
  font-size: 1.4rem;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.favorite-btn:hover {
  background-color: rgba(27, 58, 197, 0.8);
}

.favorite-btn.active {
  color: #ff4757;
}

@media (max-width: 768px) {
  .book-card {
    font-size: 0.9rem;
  }

  .book-info {
    padding: 0.75rem;
  }

  .favorite-btn {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
  }
}