.home {
  padding: 2rem 0;
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 100px));
  gap: 1.5rem;
  padding: 1rem;
  /* width: 90%; */
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  /* text-align: center; */
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }
}