.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container limits content width and centers it */
.navbar-content {
    width: 90%;
    margin: 0 auto; /* Center the container */
    padding: 0 .25rem 0 1rem; /* top right bottom left */
    display: flex;
    justify-content: space-between; /* Spread out brand, search, and links */
    align-items: center;
    box-sizing: border-box; /* Ensure padding doesn’t affect width */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  font-size: 1rem;
  display: flex;
  padding: 0 1rem;
}

.dropdown-toggle::after {
  display: none !important; 
}

/* need to change this eventually -- need to align with end of the book card*/ 
#dropdown-basic-button {
  margin-right: 1rem;
}


.search-form {
  /* font-family: Arial Rounded MT; */
  max-width: 600px;
  width: 100%;
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  justify-content: center;
}

.search-input {
  font-family: "Arial Rounded MT", Arial, sans-serif;
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1rem;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #b9ac94;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #706348;
  border-color: #fcfcfc;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}